{% extends 'base.html' %}


{% block conteudo %}

  <div class="form">
  <div class="row">
  <label for="email">Seu Email:</label>
    <input type="text" id="email" name="email">

  <label for="assunto">Assunto:</label>
    <input type="text" id="assunto" name="assunto">

  <label for="descricao">Descrição:</label>
  <br>
<textarea type="text" name="descricao" rows="10" cols="100"> 
  </textarea>
    <br>
    <div class="row">
          <input type="submit" value="Enviar">
    </div>
            </form> </div>
  </div>
</body>
   <!-- Rodapé -->
   <footer>

    <div>
     <h5>Todos os direitos reservados</h5>
    </div>
 
 </footer>

 {% endblock %}
