{% extends 'base.html' %}


{% block conteudo %}
    <!-- Imagem e Texto corpo 
    obs: alinhar = alt + z -->
  
        <div class="box_img">
            <img src="./images/capa.png" aling = "center" width="899" height="370">
        </div>

    <div>
            <h1 class="titulo">Sobre a Universidade</h1>
            <h4 class="text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel saepe officia assumenda quis vero dignissimos odio modi <br>
                similique vitae quasi, voluptates, labore molestiae numquam optio in possimus a minus.
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius accusantium dolore dolorum. Veniam harum impedit rem minus illo magni laboriosam! Nobis in aliquid corporis neque eius fugit alias eum a.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta quasi mollitia magnam impedit, vitae beatae quia, ipsa, ad magni earum debitis vero voluptatum fugiat libero alias non iusto eos omnis?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel saepe officia assumenda quis vero dignissimos odio modi <br>
                similique vitae quasi, voluptates, labore molestiae numquam optio in possimus a minus.
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius accusantium dolore dolorum. Veniam harum impedit rem minus illo magni laboriosam! Nobis in aliquid corporis neque eius fugit alias eum a.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta quasi mollitia magnam impedit, vitae beatae quia, ipsa, ad magni earum debitis vero voluptatum fugiat libero alias non iusto eos omnis?
            </p>
            </h4>
    </div>
   </div>

   <!-- Rodapé -->
   <footer>

    <div>
     <h5>Todos os direitos reservados</h5>
    </div>
 
 </footer>

 {% endblock %}
