<header class="header">

    <div class="box_logo">
        <img src="{{ url_for('static', filename='logo.png') }}" >
    </div>

    <div>
        <div class="topnav">
    <a class="active" href="index">Home</a>
    <a href="quemsomos">Quem Somos</a>
    <a href="contato">Contato</a>
        </div>

    </header>
 <div>

    <div>
        <h1 class="titulo">Quem somos</h1>
        <p class="text">
            Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Minima vel saepe officia assumenda quis vero dignissimos odio modi similique vitae quasi, voluptates, labore molestiae numquam optio in possimus a minus.<br>

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius accusantium dolore dolorum. Veniam harum impedit rem minus illo magni laboriosam! Nobis in aliquid corporis neque eius fugit alias eum a.
        </p>
    </div>
    <div>

        <h1 class="titulo">5 motivos para estudar</h1>
        <h4 class="text">
<!--Lista Ordenada-->

<li> Material sempre atualizado</li>
<li> Tablets em sala de aula </li>
<li> Professores renomados </li>
<li> Universidade bem avaliada </li>
<li> Ótima localização </li>
        </h4>
    </div>
</div>
<hr>
<div>
    <h1 class="titulo">Objetivos</h1>
    <h4 class="text">
        Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Minima vel saepe officia assumenda quis vero dignissimos odio modi similique vitae quasi, voluptates, labore molestiae numquam optio in possimus a minus.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius accusantium dolore dolorum. Veniam harum impedit rem minus illo magni laboriosam! Nobis in aliquid corporis neque eius fugit alias eum a.
    </h4>
</div>
<div>

<!-- Rodapé -->
<footer>
    <div>
<h5>Todos os direitos reservados</h5>
    </div>
    
</footer>